li{ list-style: none;}
.l_box{background-color: white;width: 1190px;}
._contain{width:1190px; }
._contain0{width: 1190px;position: absolute;}
._contain0 img{width: 42px;height: 42px;margin-top: 10px;position: relative;}
._contain ul{width:1200px;margin:15px 75px;height: 46px;text-align: center;}
._contain ul li{font-weight: bold; height:45px; display:inline-block; margin:5px 50px ; font-size: 16px; border-right: 1px solid #BBB7BC;text-align: center;color: red;}
._contain ul li:last-child{border-right: 0;margin-right:-5px; width:150px;}
._contain ul li:first-child{margin-left:9px; width:105px;}
._contain ul li:nth-child(2){width:160px; }
._contain ul li:nth-child(3){width:140px; }
._contain ul li:nth-child(4){position: relative;width: 110px;}
._contain ul li span:last-child{margin-left: -89px;}
._contain ul li span:first-child{margin-left:-150px;}
._contain ul li strong{color:#B1B1B1;font-size: 15px;margin-left: -170px;}
._contain ul li strong:nth-child(4){margin-left: -175px;}
._contain ul li span{text-align: left;}
/* .icon-coin-yen:before {content: "\e93e";}
.icon-loop2:before {content: "\ea2e";}
.icon-stats-bars2:before {content: "\e99d";}
.icon-shield:before {content: "\e9b4";}
.icon-users:before {content: "\e972";} */
._goodness{width: 1190px;height: 230px; margin-top: 25px; }
._goodness ul {margin: 0 auto;width: 1220px;border: 6px solid #F9F8F8;}
._goodness ul li{float: left;margin:0 20px; margin-top:12px; height: 240px;width: 210px;vertical-align: middle; text-align: center; }
._goodness ul li:first-child{margin-left:-2px;}
._goodness ul li:last-child{margin-left:10px;}
._goodness ul li span{display: block;margin-top: 5px;font-size: 12px;}
._goodness ul li img{margin:15px auto;width: 85px;border-radius: 10px; height: 85px;background-color: blue;}
._goodness ul li img:hover{transition: 2s;transform: rotateY(360deg); cursor: pointer;
-ms-transform: rotateY(360deg);-moz-transform: rotateY(360deg);-webkit-transform: rotateY(360deg);-o-transform: rotateY(360deg);
}
.bor_1{border: 1px solid #F9F9F9!important;}
#xj_box{border:1px solid #F9F9F9;height: 190px;}
#slideTxtBox2,#slideTxtBox1{border:1px solid #DDD;}
#slideTxtBox2:hover,#slideTxtBox1:hover{box-shadow:0 7px 7px #CCC;}

